html{
  font-size: 16px;
}
body{
  padding: 0rem;
  margin: 0rem;
  box-sizing:boder-box;
}
h1{
  color: red;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}
#tag1{
  color: #DDAA33;
  /*This is the main heading */
}
.form1{
  display: flex;
  justify-content: center;
  font-family:"Nunito", sans-serif;
  font-weight:700;
  margin-top:4rem;
  margin-bottom:2rem;
}
.msg1{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top:-3rem;
  color: grey;
  font-weight: 300;
  font-size:small;
  font-family:"Nunito", sans-serif;
}
/*here i contral form*/
.name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap:1rem;
  line-height: 1rem;
  font-family:"Nunito", sans-serif;
  
}
.phone{
  display: flex;
  justify-content:center;
  align-content: center;
  line-height: 1rem;
  margin-top: 1rem;
  gap:1rem;
  font-family:"Nunito", sans-serif;
  transform: translateX(-7.8rem);
  
}
.email{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  gap:1rem;
  font-family:"Nunito", sans-serif;
}
.password{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  gap:1rem;
  font-family:"Nunito", sans-serif;
}
.age{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  font-family:"Nunito", sans-serif;
}
.terms{
   display: flex;
  justify-content: center;
  margin-top:1rem;
  font-family:"Nunito", sans-serif;
}
.createaccountbutton {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family:"Nunito", sans-serif;
}
.Details{
  width: 50rem;
  margin: auto;
  border: 2px solid black;
  padding-top:1rem;
  font-family:"Nunito", sans-serif;
}
.terms{
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-size: small;
  font-family:"Nunito", sans-serif;
  gap: 0.5rem;
}
.lastline{
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: x-small;
  font-family:"Nunito", sans-serif;
}




