html{
  font-size: 16px;
}
body{
  padding: 0rem;
  margin: 0rem;
  box-sizing:boder-box;
}
h1{
  color: red;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}
#tag1{
  color: #DDAA33;
  /*This is the main heading */
}
.form1{
  display: flex;
  justify-content: center;
  font-family:"Nunito", sans-serif;
  font-weight:700;
  margin-top:10rem;
  margin-bottom:2rem;
}
.msg1{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top:-3rem;
  color: grey;
  font-weight: 300;
  font-size:small;
}
/*here i contral form*/
.name{
  display: flex;
  justify-content: center;
  align-content: center;
  gap:1rem;
  line-height: 1rem;
}
.phone{
  display: flex;
  justify-content:center;
  align-content: center;
  line-height: 1rem;
  margin-top: 1rem;
  transform: translateX(-8.5rem);
  gap:1rem;
}
.email{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  transform: translateX(-8.5rem);
  gap:1rem;
}
.password{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  transform: translateX(-7.8rem);
  gap:1rem;
}
.age{
  display: flex;
  justify-content: center;
  transform: translateX(-3.8rem);
  margin-top:1rem;
}
.terms{
   display: flex;
  justify-content: center;
  margi