html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
h1{
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left:2rem;
    font-weight: 800;
}

#headningcolor{
    color:#F1C167 ;
}
.beer1{
    width: auto;
    height: 25rem;
    background-color: #f9dc5c;
    display: flex;
    justify-content:space-evenly;
    
}
.jacksabby1 img{
    width: 9rem;
    height: 14rem;  
    margin-top: 5rem;
    
}
.jacksabby2 img{
    width: 9rem;
    height: 14rem;
    margin-top: 5rem;
   
}
.jacksabby3 img{
    width: 9rem;
    height: 14rem;
    display: flex;
    justify-content: left;
    margin-top: 5rem;
    
}
.jacksabby4 img{
    width: 9rem;
    height: 14rem;
    margin-top: 5rem;
    
}
.cr1 {
    width: 100%;
    height: 25rem;
    background-color: #f9dc5c; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* second beer addition */
.secondsideheadning h2{
    width: 100%;
    height: 2rem;
    color: white;
    background-color: orange;
    text-align: right;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 500rem;
}
.beer2{
    background-color: orange;
    display: flex;
    justify-content: right;
    height: 10rem;
    gap: 4rem;
    margin-top: 0rem;
    padding-top: 1rem;
    
}
#buyit{
    display: flex;
    justify-content: flex-start;
    background-color: orange;
    margin-bottom: 20rem;
}