html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin:1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color:red;  
}
#heading{
    color:#FFDF00 ;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
.firstheadning{
    text-align: center;
    font-family: "Cookie", cursive;
    font-size: 10rem;
    color: black;
    margin-bottom: 1rem;
    
}
.bg{
    padding: 15rem;
    margin-top: 0rem;
    height: 20rem;
    background-image:url(https://images.unsplash.com/photo-1576481564650-61d2ed81f6d5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGNoYW1wYWduZXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;  
    background-position: 50% 50%;
}
.Champagne img{
 width: 20rem;
 height: 20rem;
 gap:1rem;
 margin-top:0rem;
 margin-bottom: 0rem;
 position:relative;
 left: 50%;
}
.Champagne{
    width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin-top:0rem;
    margin-bottom: 0rem;
    
}
.col button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:75%;
    bottom: -10%;
    width: 10rem;
    height: 2rem;
    text-align: center;
    border-radius:1rem ;
    cursor: pointer;
    font-family:"Open Sans", sans-serif ;
    font-weight: 800;
    border:3px solid black;
    background-color:red;
    color: white;
}
.col button:hover{
    transition: 1.6ms;
    transform: scale(1.1);
    background-color: green;
}
