html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin:1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color:red;  
}
#heading{
    color:#FFDF00 ;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
.firstheadning{
    text-align: center;
    font-family: "Cookie", cursive;
    font-size: 10rem;
    color: black;
    margin-bottom: 1rem;
    
}
.bg{
    padding: 15rem;
    margin-top: 0rem;
    height: 20rem;
    background-image:url(https://images.unsplash.com/photo-1576481564650-61d2ed81f6d5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGNoYW1wYWduZXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;  
    background-position: 50% 50%;
}
.Champagne img{
 width: 20rem;
 height: 20rem;
 gap:1rem;
 margin-top:0rem;
 margin-bottom: 0rem;
 position:relative;
 left: 50%;
}
.Champagne{
    width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin-top:0rem;
    margin-bottom: 0rem;
    
}
.col button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:75%;
    bottom: -10%;
    width: 10rem;
    height: 2rem;
    text-align: center;
    border-radius:1rem ;
    cursor: pointer;
    font-family:"Open Sans", sans-serif ;
    font-weight: 800;
    border:3px solid black;
    background-color:red;
    color: white;
}
.col button:hover{
    transition: 1.6ms;
    transform: scale(1.1);
    background-color: green;
}
.col2 img{
  height: 20rem;
}
.container2{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 13rem;
  margin-top:20px;
}
#additem2{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 2.3rem;
  line-height: 1rem;
  margin-top: 1rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  font-size:large ;
  font-weight: 800;
  background-color: black;
  color: white;
  font-family:"Open Sans", sans-serif ;
}
#additem2{
  border:2px solid black;
   border-radius: 30px
}
#additem2:hover{
  color: black;
  background-color: white;
  transition: 0.2ms;
  
}
.infoaboutchamp{
  margin-left: 3rem;
  font-family:"Open Sans", sans-serif  ;
}
.rate{
  margin-left: 2.3rem;
  margin-bottom: 0rem;
  font-family: "Open Sans", sans-serif ;
}
.backgroundbox{
  outline: 2px solid black;
  height: 23rem;
  width: 15rem;
}
.backgroundbox:hover{
  transform: rotateY(180deg);
  transition:2ms;
}

.card-wrapper {
  width: 200px;
  text-align: center;
  margin-left: 13rem;
}

/* ROTATING CARD */
.flip-card {
  width: 200px;
  height: 260px;
  perspective: 1000px;
  margin-bottom: 10px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: white;
}

.flip-card-back {
  background: #eee;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F36F21;
  font-family: "Cookie", cursive;
}

/* BUTTON stays normal */
#additem2 {
  margin-top: 3rem;
}






























